/* forgotPassword.css */
.forgotPasswordContainer {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.forgotPasswordContainer h2 {
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup label i {
  margin-right: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  font-size: 14px;
  color: green;
}

.message.error {
  color: red;
}
.backToLogin {
    margin-top: 20px;
  }
  
  .backToLogin a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .backToLogin a:hover {
    color: #0056b3;
  }