/* login.css */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0e0e53; /* Changed background color to royal blue */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .card {
    background: #fff;
    padding: 30px; /* Increased padding for slightly larger card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 100%;
    text-align: center;
  }
  
  .logo {
    width: 60px;
    margin-bottom: 20px;
  }
  
  .title {
    margin: 0;
    font-size: 24px;
    font-weight: bold; /* Made login title bold */
    color: #333;
  }
  
  .subtitle {
    margin: 10px 0 20px;
    font-size: 20px;
    color: #666;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup {
    text-align: left;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 2px;
  }
  
  .input {
    font-size: large;
    border: 0 0 0 10px;
    box-sizing: border-box;
    margin-left: 2px;
    border: none; 
    border-bottom: 2px solid transparent; /* Set border width */
    border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1; /* Gradient colors */
    transition: box-shadow 0.3s ease, border-radius 0.3s ease; /* Smooth transition for border color and border-radius change */
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    outline: none;
  }
  
  .input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid transparent; /* Set border width */
    border-radius: 20px;
    border-image: linear-gradient(to right, #6a11cb, #2575fc) 1; 
    border-radius: 200px;     
  }

  .showPassword {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  .checkboxLabel {
    margin-left: 5px;
    cursor: pointer;
  }
  
  .button {
    padding: 14px 30px; /* Adjusted padding for a slightly larger button */
    border: 1px solid #FFFF99; /* Light yellow border color */
    border-radius: 10px 20px 10px 20px; /* Adjusted border radius for button */
    background-image: linear-gradient(to left, rgb(50, 109, 235), rgb(128, 184, 239)); /* Light yellow background color */
    color: #333;
    cursor: pointer;
    font-size: 17px;
    transition: background-color 0.3s ease;
    width: 100%; /* Set button width to 100% of parent */
    max-width: 120px; /* Added max width for larger screens */
    height: 50px; /* Set fixed height for the button */
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42),
      0 4px 23px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(153, 153, 153, 0.2); /* Added box shadow */
  }
  
  .button:hover {
    background-color: #FFFFCC; /* Light yellow background color on hover */
    padding: 12px 28px;
    border-radius: 20px 10px 20px 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 480px) {
    .card {
      padding: 20px; /* Adjusted padding for smaller screens */
    }
    .title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 16px;
    }
  }
  
